<!DOCTYPE html>
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
        <meta charset="UTF-8">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset("node_modules/bootstrap/dist/css/bootstrap.min.css") }}">
        	<link rel="stylesheet" href="{{ asset("node_modules/animate.css/animate.min.css") }}">
        	<link rel="stylesheet" href="{{ asset("main.css") }}">
        {% endblock %}
        
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("apple-icon-57x57.png") }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset("apple-icon-60x60.png") }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset("apple-icon-72x72.png") }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset("apple-icon-76x76.png") }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset("apple-icon-114x114.png") }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset("apple-icon-120x120.png") }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset("apple-icon-144x144.png") }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset("apple-icon-152x152.png") }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset("apple-icon-180x180.png") }}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("android-icon-192x192.png") }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset("favicon-32x32.png") }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset("favicon-96x96.png") }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon-16x16.png") }}">
		<link rel="manifest" href="{{ asset("manifest.json") }}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ asset("ms-icon-144x144.png") }}">
    </head>
    
    <body>
    	<div class="container-fluid">
    		<header class="header row" id="main-header">
    			{% block header %}
    				<div id="user-menu" class="col-xl-2 col-lg-2 col-md-2  d-none d-sm-block d-md-block">
    					<div class="wrapper">
    						&nbsp;
    					</div>
    				</div>
    				
    				<div id="search" class="col-xl-3 col-lg-3 col-md-3  d-none d-sm-block d-md-block">
    					<form id="search-form" class="form form-stacked">
    						<div class="input-group">
  								<input type="search" class="form-control" placeholder="Chercher..." aria-label="Chercher" aria-describedby="basic-addon2">
  								<div class="input-group-append">
    								<button class="btn btn-outline-secondary" type="button"><i class="icon-search"></i></button>
  								</div>
							</div>
    					</form>
    					<div class="hidden" id="search-result">
							<h4>Correspondances : <span class="items-number"></span></h4>
							<ul class="list list-unstyled" id="product-items">
							</ul>
						</div>
    				</div>
    				
    				<div id="logo-soeurs-theiere" class="logo col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
    					<a href="{{ path("home") }}" title="Les Soeurs Théière">
    						<img src="{{ asset('images/logo_blanc_soeurs_theieres.png') }}" title="Les Soeurs Théière" class=" img-responsive">
    					</a>
    				</div>
    				
    				<div class="col-xl-2 col-lg-2 col-md-2  d-none d-sm-block d-md-block" id="user-basket">
    					<div class="wrapper">
    						&nbsp;
    					</div>
    				</div>
    				
    				<div class="col-xl-2 col-lg-2 col-md-2  d-none d-sm-block d-md-block" id="user-contact">
    					<div class="wrapper">
    						<a href="{{ path("contact") }}" title="Contactez les Soeurs Théière">
    							<i class="icon-mail2"></i> Contactez-nous
    						</a>
    					</div>
    				</div>
    			{% endblock %}
    		</header>
    		
    		<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    			{% block menu %}
    			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Ouvrir / Fermer">
    					<span class="navbar-toggler-icon"></span>
  					</button>
  					
  					<div class="collapse navbar-collapse" id="main-navbar">
    				    {{ knp_menu_render("ContentBundle:MenuBuilder:categoriesMenu") }}
    				</div>
    			{% endblock %}
    		</nav>
    		
    		{%  block slider %}
    		{% endblock %}
    		
    		<main id="main-container" eshop-app>
        		{% block body %}
        		{% endblock %}
        	</main>
        	
        	<footer id="main-footer" class="row d-flex justify-content-around">
        		{% block footerleft %}
        			{{ render(controller(
        			        "MenuBundle:Default:leftFooterMenu"
        			    )) }}
        		{% endblock %}

        		{% block footercenter %}
        			{{ render(controller(
        			        "MenuBundle:Default:centerFooterMenu"
        			    )) }}
        		{% endblock %}

        		{% block footerright %}
        			{{ render(controller(
        			        "MenuBundle:Default:rightFooterMenu"
        			    )) }}
        		{% endblock %}        		
        		
        	</footer>
        
        </div>
        {% block javascripts %}
        	<script src="{{ asset("node_modules/jquery/dist/jquery.min.js") }}"></script>
        	<script src="{{ asset("node_modules/bootstrap/dist/js/bootstrap.min.js") }}"></script>
        	<script src="{{ asset("build/bundle.js") }}"></script>
        {% endblock %}
    </body>
    
</html>
