{%  extends "base.html.twig" %}

{% block title %}
	Votre panier - Les Soeurs Théière
{% endblock %}

{% block body %}
	<div class="container" id="checkout">
	
		<!-- Inclusion du progress stepper -->
		{{ include("@Content/Default/checkoutstepper.html.twig", {"step": "basket-list"}) }}
		
		<div id="basket-list" role="list" class="row hidden">
			
		</div>
		
		<div id="basket-total" class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
				Total panier : <span class="fulltax-total"></span>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
				<a href="{{ path('delivery') }}" class="btn btn-success" role="button" id="next-step">
    				Livraison >>
    			</a>
			</div>
		</div>
		
        <div class="alert alert-warning hidden" id="basket-warns">
        	<p class="no-user inactive" id="no-user">
        		Vous devez vous <a href="#" data-toggle="modal" data-target="#login-modal">authentifier</a> ou <a href="{{ path('signin-form') }}" title="Créer un compte sur le site des Soeurs Théière">créer un compte</a> pour passer à l'étape suivante.
        	</p>
        	
        	<p class="no-address inactive" id="no-address">
        		Vous devez créer une adresse de facturation / livraison pour passer à l'étape suivante.
        	</p>
        </div>
    </div>
    

	
	{{ include("@Content/Default/dialog.html.twig") }}
	{{ include("@Content/Default/login.html.twig") }}
{% endblock %}