{%  extends "base.html.twig" %}

{% block title %}
	{{ currentCategory.getTitleFr() }} - Les Soeurs Théière
{% endblock %}

{% block body %}
    
    <section class="cms">
    	<header class="header">
    		<h1>{{ currentCategory.getTitleFr()|upper }}</h1>
    	</header>
    	
    	<!--  Boucle sur les articles de la catégorie courante -->
        {% if articles|length %}
            {% for article in articles if article.getIsEnabled() %}
                <div class="row">
                	<div class=" col-12">
                    	<article class="cms" id="{{ article.getSlug() }}" data-id="{{ article.getId() }}">
                    		<header class="cms-header">
                    			<h2 class="cms-title">{{ article.getTitleFr() }}</h2>
                    		</header>
                    			
    						<p class="cms-content">
    							{{ article.getArticleFr() }}
    						</p>
                    	</article>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}