{%  extends "base.html.twig" %}

{% block title %}
{{ product.getTitleFr() }} - {{ currentCategory.getTitleFr() }} - Les Soeurs Théière
{% endblock %}

{% block body %}
	<div class="container">
    	{% if ancestors|length %}
        	<nav aria-label="breadcrumb" class="ariane col">
        		<ol class="breadcrumb">
        			{% for category in ancestors %}
        				<li class="breadcrumb-item">
        					<a href="{{ path("products_category", {"slug": category.getId()}) }}" title="{{ category.getTitleFr() }}">{{ category.getTitleFr()|upper }}</a>
        				</li>
        			{% endfor %}
        			<!-- Le produit lui-même -->
        			<li class="breadcrumb-item active" aria-current="page">
        				{{ product.getTitleFr()|upper }}
        			</li>
        		</ol>
        	</nav>
        	
        	<!-- Barre d'outils : tri, affichage, ... -->
        {% endif %}
    </div>
    
    <section class="container product-container">
    	<article class="row">
    		<!-- Slider des images ou affichage de l'image par défaut -->
    		{% if sliderImages|length > 1 %}
        		<figure class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs carousel slide" data-ride="carousel" id="product-slider">
        			<!-- Indicateurs -->
    				<ol class="carousel-indicators">
    			        {% for slide in sliderImages %}
    						<li data-target="#product-slider" data-slide-to="{{ slide.order }}" {% if slide.active %} class="active"{% endif %}>
    			        {% endfor %}
    				</ol>
    				
            		<div class="carousel-inner">
                		{% for slide in sliderImages %}
                				<div class="carousel-item{% if slide.active %} active{% endif %}">
                					<img class="d-block w-100" src="{{ slide.image }}" alt="{{ slide.alt }}">
                				</div>
                
                		{% endfor %}
            		</div>
            		
            		<!--  Contrôles -->
            		<a class="carousel-control-prev" href="#product-slider" role="button" data-slide="prev">
            			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
            			<span class="sr-only">Précédent</span>
            		</a>
            		
            		<a class="carousel-control-next" href="#product-slider" role="button" data-slide="next">
            			<span class="carousel-control-next-icon" aria-hidden="true"></span>
            			<span class="sr-only">Suivant</span>
            		</a>
        		</figure>
    		{% else %}
    			<figure class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs">
    				<img class="d-block w-100" src="{{ sliderImages[0].image }}" alt="{{ sliderImages[0].alt }}">
    			</figure>
    		{% endif %}
    		
    		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
    			<form class="form" id="formCart-{{ product.getId() }}">
    				<fieldset>
    					<legend>
    						<h1>{{ product.getTitleFr()|upper }}</h1>
    					</legend>
    					<blockquote class="description">
    				        {{ product.getDescriptionFr() }}
    					</blockquote>
    					
    					<div class="input-group mb-3 col-md-5">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary decrease" type="button">-</button>
                          </div>
                              
                          <input type="number" min="1" max="{{ product.getMaxPerOrder() }}" class="form-control" value="1" placeholder="" data-rel="formCart-{{ product.getId() }}" aria-label="" aria-describedby="basic-addon1">
                              
                          <div class="input-group-append">
                          	<button class="btn btn-outline-secondary increase" type="button">+</button>
                          </div>
                          
                          	<div class="form-group">
								<span class="badge badge-secondary price" data-rel="quantity-selector-{{ product.getId() }}">{{ product.getSmallestPrice()["ttc"]|number_format(2, ',') }} &euro;</span>
							</div>
                    	</div>
                    	
                    	{% if (product.getPrices()|length > 1) %}
                    		<div class="form-group mb-3 col-md-5">
                        		<label for="quantity-selector-{{ product.getId() }}">
                        			<select id="quantity-selector-{{ product.getId() }}" size="1" class="form-control quantity-selector">
                        				{% for price in product.getPrices() %}
                        					<option value="{{ loop.index0 }}"{% if loop.first %} selected{% endif %} data-price="{{ price.ht }}" data-stock="{{ price.stock }}" data-maxperorder="{{ price.maxPerOrder }}" data-thresold="{{ price.thresold }}" data-vat={{ product.getVat() }}>
                        						{{ price.quantity }}
                        					</option>
                        				{% endfor %}
                        			</select>
                        		</label>
                    		</div>
                    	{% else %}
                    		<input 
                    			type="hidden" 
                    			id="quantity-selector-{{ product.getId() }}" 
                    			class="quantity-selector"
                    			data-price="{{ product.getPrices()[0].ht }}" 
                    			data-vat="{{ product.getVat() }}"
                    			data-stock="{{ product.getPrices()[0].stock }}"
                    			data-maxperorder="{{ product.getPrices()[0].maxPerOrder }}"
                    			data-thresold="{{ product.getPrices()[0].thresold }}"
                    		>
                    	{% endif %}
                    	
                    	<!-- Abstract -->
                    	{% if product.getAbstractFr() is not same as("") %}
                    		<blockquote>
                    			{{ product.getAbstractFr()|raw }}
                    		</blockquote>
                    	{% endif %}
                    	
                    	<!-- Stock -->
                    	<div class="stock">
                    		<i class="icon-checkmark2"></i> En stock
                    	</div>
                    	
                    	<div class="text-center">
                    	<!-- Bouton d'ajout au panier -->
                    	<button type="button" class="btn btn-warning mx-auto add-to-cart" data-id="{{ product.getId() }}">
    						Ajouter au panier
    					</button>                     	
                    	</div>

    				</fieldset>
    			</form>
    		</div>
    	</article>
            	{% if decorators|length %}
                	<aside id="decor-produit" class="row">
                		{% for decor in decorators if decor.isIconic %}
                			<div class="iconic-decor col-md-4">
                				<div class="iconic col-md-9">
                					<i class="iconic-content-title icon-{{ decor.icon }}"></i> {{ decor.title }}
                				</div>
                				<div class="iconic-content col-md-3">
                					<p class="iconic-content-value">
                						{{ decor.content }}
                					</p>
                				</div>
                			</div>
                		{% endfor %}
                		
                		{% for decor in decorators if decor.isIconic is same as(false) %}
                			<div class="not-iconic-decor">
                				<table class="table table-condensed table-responsive">
                					<thead>
                						<tr>
                							<th>
                								{% if decor.icon is not same as(null) %}
                									<i class="icon-{{ decor.icon }}"></i>
                								{% endif %}
                								{{ decor.title }}
                							</th>
                						</tr>
                					</thead>
                					<tbody>
                						<tr>
                							<td>{{ decor.content }}</td>
                						</tr>
                					</tbody>
                				</table>
                			</div>
                		{% endfor %}
                	</aside>
                {% endif %}
    </section>
{% endblock %}