<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			Commande : {{ order.getReference() }}
		</td>
	</tr>
	
	<!-- Coordonnées d'expédition -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0">
				<thead>
    				<tr>
    					<th>Client</th>
    					<th>Mode de livraison</th>
    				</tr>
    			</thead>
    			
    			<tbody>
    				<tr>
    					<td>
    						{{ order.getUser().getName() }}
    					</td>
    					<td>
    						<p>{{ order.getDeliveryAddress() }}</p>
    						<ul>
    							<li>Livreur : {{ order.getCarrier() }}</li>
    							<li>Mode : {{ order.getCarryingMode() }}
    						</ul>
    					</td>
    				</tr>
    			</tbody>
			</table>
		</td>
	</tr>
	
	<!--  Produits commandés -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td>Libellé</td>
						<td>Quantité</td>
						<td>Prix Unitaire HT</td>
						<td>Prix Total HT</td>
						<td>TVA</td>
						<td>Prix total TTC</td>
					</tr>
				</thead>
				
				<tbody>
					{% for product in order.getBasket() %}
						<tr>
							<td>{{ product.product.title.fr }}</td>
						</tr>
						<tr>
							<td>{{ product.quantity }}</td>
						</tr>
						<tr>
							<td>{{ product.priceHT }}</td>
						</tr>
						<tr>
							<td>{{ product.product.vat * 100 }}</td>
						</tr>
						<tr>
							<td>{{ product.priceHT * product.quantity }}</td>
						</tr>
						<tr>
							<td>{{ (product.priceHT * product.quantity) * (1 + product.product.vat) }}</td>
						</tr>
					{% endfor %}
				</tbody>
				
				<!-- Total de la facture -->
				<tfoot>
					<tr>
						<td colspan="5">Total</td>
						<td>{{ order.getFullTaxTotal() }}</td>
					</tr>
				</tfoot>
			</table>
		</td>
	</tr>
</table>