{%  extends "base.html.twig" %}

{% block title %}
	{{ currentCategory.getTitleFr() }} - Les Soeurs Théière
{% endblock %}

{% block body %}
	<div class="container">
    	{% if ancestors|length %}
        	<nav aria-label="breadcrumb" class="ariane row">
        		<ol class="breadcrumb">
        			{% for category in ancestors %}
        				<li class="breadcrumb-item{% if loop.index == loop.length %} active{% endif %}"{% if loop.index == loop.length %} aria-current="page"{% endif %}>
        					{% if loop.last == false %}
        						<a href="{{ path("products_category", {"slug": category.getId()}) }}" title="{{ category.getTitleFr() }}">{{ category.getTitleFr()|upper }}</a>
        					{% else %}
        						{{ category.getTitleFr()|upper }}
        					{% endif %}
        				</li>
        			{% endfor %}
        		</ol>
        	</nav>
        	
        	<!-- Barre d'outils : tri, affichage, ... -->
        {% endif %}
    </div>
    
    <section class="category-products">
    	<header class="header">
    		<h1>{{ currentCategory.getTitleFr()|upper }}</h1>
    	</header>
    	
    	<!--  Boucle sur les produits de la catégorie courante -->
        {% if products|length %}
        	<div class="row">
            	{% for product in products if product.getIsEnabled() %}
            		<div class=" col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                		<article class="card" id="{{ product.getSlug() }}" data-id="{{ product.getId() }}">
                			<header class="card-header">
                				<h2 class="card-title">{{ product.getTitleFr() }}</h2>
                			</header>
                			
                        	<div class="min-price ml-auto">
                         		{% if product.getSmallestPrice()["multi"] %}
                        			<p class="badge badge-secondary">A partir de {{ product.getSmallestPrice()["ttc"]|number_format(2, ',') }} &euro;</p>
                        		{% else %}
                        			<p class="badge badge-secondary">{{ product.getSmallestPrice()["ttc"]|number_format(2, ',') }} &euro;</p>
                        		{% endif %}                       			
                        	</div>
                        	
                			<figure>
                				<a href="{{ path("product", {'slug': product.getId(), 'category': currentCategory.getId()}) }}" class="" title="En savoir plus sur {{ product.getTitleFr() }}">
                					<img class="card-img-top" src="{{ product.getMainImage()["src"] }}" alt="{{ product.getMainImage()["alt"] }}">
                				</a>
                			</figure>
                			
                			<div class="card-body">
                				<p class="card-text">
                					{{ product.getDescriptionFr()|length > 218 ?  product.getDescriptionFr()|slice(0, 218) : product.getDescriptionFr()}}
                				</p>
                            	<div class="text-center">
                        			<a href="{{ path("product", {'slug': product.getId(), 'category': currentCategory.getId()}) }}" class="btn btn-outline-primary" role="button" title="Voir {{ product.getTitleFr() }}">
                        				Plus d'information
                        			</a>
                    			</div>
								{{ include("@Content/product/form.html.twig", {"product": product}) }}
                			</div>
                		</article>
                	</div>
            	{% endfor %}
            </div>
        {% else %}
        	<!-- Boucle sur les sous-catégories -->
        	<div class="row">
            	{% for childrenProduct in childrenProducts if childrenProduct.products|length %}
            		<article class="category-products col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            			<header class="header child">
            				<h2 class="text-center">
            				    <a href="{{ path("products_category", {'slug': childrenProduct.category.getId()}) }}" title="Tous les produits de la catégorie {{ childrenProduct.category.getTitleFr() }}">
            	                    {{ childrenProduct.category.getTitleFr()|upper }}
            	                </a>
            				</h2>
            			</header>
            	{% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}