{%  extends "base.html.twig" %}

{%  block title %}Thés Naturels{%  endblock %}

{% block slider %}
	<div class="carousel slide d-none d-sm-block d-md-block" data-ride="carousel" id="categories-slider">
		<!-- Indicateurs -->
		<ol class="carousel-indicators">
			{% for slide in sliderImages %}
				<li data-target="#categories-slider" data-slide-to="{{ slide.order }}" {% if slide.active %} class="active"{% endif %}>
			{% endfor %}
		</ol>
		
		<div class="carousel-inner">
    		{% for slide in sliderImages %}
    				<div class="carousel-item{% if slide.active %} active{% endif %}">
    					<img class="d-block w-100" src="{{ slide.image }}" alt="{{ slide.alt }}">
    				</div>
    
    		{% endfor %}
		</div>
		
		<!--  Contrôles -->
		<a class="carousel-control-prev" href="#categories-slider" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Précédent</span>
		</a>
		
		<a class="carousel-control-next" href="#categories-slider" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</a>
	</div>
{% endblock %}

{%  block body %}
	{% block edito %}
		<div class="row">
			<article class="col with-padding" id="editorial">
				<header class="row">
    					<figure class="col-xl-2">
    						<img src="{{ asset("images/illustration.png") }}" alt="Les Soeurs Théière">
    					</figure>
    					
    					<div class="col-xl-10">
    						<h1 class="pl-5">{{ editorial.title }}</h1>
    						<h2 class="pl-5 col-xl-12">{{ editorial.subtitle }}</h2>    					
    					</div>

				</header>
				
				<blockquote>
					{{ editorial.content|raw }}
				</blockquote>
			</article>
		</div>
	{% endblock %}
	
	{% block promotions %}
		{% if promotions %}
    			<div class="d-flex justify-content-around" id="promotions">
            		{%  for promotion in promotions %}
            			<div class="promotion">
                			<figure class="card">
                				<a href="{{ path("product", {'slug': promotion.product.getId(), 'category': promotion.category.getId()}) }}" title="Voir {{ promotion.product.getTitleFr() }}">
                					<img src="{{ promotion.image.src }}" alt="{{ promotion.image.alt }}" class="d-block w-100 img-responsive">
                				</a>
                				<figcaption>
                					{{ promotion.product.getTitleFr() }}
                				</figcaption>
                			</figure>
                		</div>
            		{% endfor %}
        		</div>
		{% endif %}
	{% endblock %}
	
	{% block box %}
		<div class="row">
			<article id="box-discovering" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<header>
					<h3>{{ discovering.title.fr|raw }}</h3>
				</header>
				<blockquote>
					{{ discovering.content.fr|raw }}
				</blockquote>
				<div class="text-center">
    				<a href="/products/category/68" class="btn btn-light" role="button" title="">
    					{{ discovering.btn.fr }}
    				</a>
				</div>
				
			</article>
			
			<article id="month-product" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<header>
					<h3>{{ monthProduct.category.getTitleFr()|raw }}</h3>
				</header>
				
				<figure class="mx-auto">
					<a href="{{ path("product", {'slug': monthProduct.product.product.getId(), 'category': monthProduct.category.getId()}) }}" title="Découvrez {{ monthProduct.category.getTitleFr() }}">
						<img src="{{ monthProduct.product.image.src }}" alt="{{ monthProduct.product.image.alt }}" class="mx-auto d-block w-50 img-responsive">
					</a>
					<figcaption aria-hidden="true">
						{{ monthProduct.product.product.getTitleFr()|raw }}
					</figcaption>
				</figure>
				
				<div class="text-center">
					<a href="{{ path("product", {'slug': monthProduct.product.product.getId(), 'category': monthProduct.category.getId()}) }}" class="btn btn-outline-light" role="button" title="{{ monthProduct.product.product.getTitleFr() }}">
					    {{ monthProduct.category.getBtnFr()|raw }}
					</a>
				</div>			
			</article>
		</div>
	{% endblock %}
	
	{% block heart %}
		<div id="heart-home" class="row">
			<article id="heart-product" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<header>
					<h3>{{ heartProduct.category.getTitleFr()|raw }}</h3>
				</header>
				
				<figure class="text-center">
					<a href="{{ path("product", {'slug': heartProduct.product.product.getId(), 'category': heartProduct.category.getId()}) }}" alt="Vous allez aimer {{ heartProduct.product.product.getTitleFr() }}">
						<img src="{{ heartProduct.product.image.src }}" alt="{{ heartProduct.product.image.alt }}" class="mx-auto d-block w-50 img-responsive" class="img-responsive">
					</a>
					<figcaption aria-hidden="true">
						{{ heartProduct.product.product.getTitleFr()|raw }}
					</figcaption>
					
				</figure>
				
				<a aria-hidden="true" href="{{ path("product", {'slug': heartProduct.product.product.getId(), 'category': heartProduct.category.getId()}) }}" class="btn btn-light" role="button" title="{{ heartProduct.product.product.getTitleFr() }}">
					{{ heartProduct.category.getBtnFr()|raw }}
				</a>			
			</article>
			
			<article id="home-meeting" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="wrapper">
    				<header>
    					<h3>{{ homeMeeting.content.title.fr|raw }}</h3>
    				</header>
    				
    				<blockquote>
    					{{ homeMeeting.content.content.fr|raw }}
    				</blockquote>
    				
    				<a class="btn btn-light" role="button" href="{{ path("contact") }}" title="{{ homeMeeting.content.title.fr }}">
    					{{ homeMeeting.content.btn.fr|raw }}
    				</a>
    			</div>
			</article>
		</div>
	{% endblock %}
{%  endblock %}

{% block footer %}

{% endblock %}

