<<<<<<< HEAD
<form class="form-cart form" id="formCart-{{ product.getId() }}">
	{% if (product.getPrices()|length > 1) %}
		<div class="form-group mb-3">
    		<label for="quantity-selector-{{ product.getId() }}">
    			Par : 
    		</label>
    		<select id="quantity-selector-{{ product.getId() }}" size="1" class="form-control quantity-selector">
    			{% for price in product.getPrices() %}
    				<option value="{{ loop.index0 }}"{% if loop.first %} selected{% endif %} data-price="{{ price.ht }}" data-stock="{{ price.stock }}" data-maxperorder="{{ price.maxPerOrder }}" data-thresold="{{ price.thresold }}" data-vat={{ product.getVat() }}>
    					{{ price.quantity }}
    				</option>
    			{% endfor %}
    		</select>
		</div>
	{% else %}
		<input 
			type="hidden" 
			id="quantity-selector-{{ product.getId() }}" 
			class="quantity-selector"
			data-price="{{ product.getPrices()[0].ht }}" 
			data-vat="{{ product.getVat() }}"
			data-stock="{{ product.getPrices()[0].stock }}"
			data-maxperorder="{{ product.getPrices()[0].maxPerOrder }}"
			data-thresold="{{ product.getPrices()[0].thresold }}"
		>
	{% endif %}
	<div class="form-group">
		Prix T.T.C : <span class="badge badge-secondary price" data-rel="quantity-selector-{{ product.getId() }}">{{ product.getSmallestPrice()["ttc"]|number_format(2, ',') }} &euro;</span>
	</div>
	
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary decrease" type="button">-</button>
      </div>
      
      <input type="number" min="1" max="{{ product.getMaxPerOrder() }}" class="form-control" value="1" placeholder="" data-rel="formCart-{{ product.getId() }}" aria-label="" aria-describedby="basic-addon1">
      
      <div class="input-group-append">
      	<button class="btn btn-outline-secondary increase" type="button">+</button>
      </div>
    </div>
    
    <div class="mx-auto text-center">
    	<button type="button" class="btn btn-default mx-auto add-to-cart" data-id="{{ product.getId() }}">
    		Ajouter au panier
    	</button> 
    </div>
=======
<form class="form-cart form" id="formCart-{{ product.getId() }}">
	{% if (product.getPrices()|length > 1) %}
		<div class="form-group mb-3">
    		<label for="quantity-selector-{{ product.getId() }}">
    			Par : 
    		</label>
    		<select id="quantity-selector-{{ product.getId() }}" size="1" class="form-control quantity-selector">
    			{% for price in product.getPrices() %}
    				<option value="{{ loop.index0 }}"{% if loop.first %} selected{% endif %} data-price="{{ price.ht }}" data-stock="{{ price.stock }}" data-maxperorder="{{ price.maxPerOrder }}" data-thresold="{{ price.thresold }}" data-vat={{ product.getVat() }}>
    					{{ price.quantity }}
    				</option>
    			{% endfor %}
    		</select>
		</div>
	{% else %}
		<input 
			type="hidden" 
			id="quantity-selector-{{ product.getId() }}" 
			class="quantity-selector"
			data-price="{{ product.getPrices()[0].ht }}" 
			data-vat="{{ product.getVat() }}"
			data-stock="{{ product.getPrices()[0].stock }}"
			data-maxperorder="{{ product.getPrices()[0].maxPerOrder }}"
			data-thresold="{{ product.getPrices()[0].thresold }}"
		>
	{% endif %}
	<div class="form-group">
		Prix T.T.C : <span class="badge badge-secondary price" data-rel="quantity-selector-{{ product.getId() }}">{{ product.getSmallestPrice()["ttc"]|number_format(2, ',') }} &euro;</span>
	</div>
	
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary decrease" type="button">-</button>
      </div>
      
      <input type="number" min="1" max="{{ product.getMaxPerOrder() }}" class="form-control" value="1" placeholder="" data-rel="formCart-{{ product.getId() }}" aria-label="" aria-describedby="basic-addon1">
      
      <div class="input-group-append">
      	<button class="btn btn-outline-secondary increase" type="button">+</button>
      </div>
    </div>
    
    <div class="mx-auto text-center">
    	<button type="button" class="btn btn-default mx-auto add-to-cart" data-id="{{ product.getId() }}">
    		Ajouter au panier
    	</button> 
    </div>
>>>>>>> branch 'master' of https://github.com/dacodemaniak/api_theiere
</form>